@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my project</h1>
    <br />
   <h2>Here is my CRUD project using ASP.NET by following a tutorial.</h2>
   <br />
    <h3>Use the navigation bar to explore the project.<br></br>You can Create,Edit,Delete a Book by your choice.</h3>
</div>
